.menu {
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    li {
      padding: 2px 15px;

      a {
        text-transform: uppercase;
        color: #333333;
        font-size: 14px;
        font-weight: 600;
        transition: all .2s ease-in-out;
        text-decoration: none;

        &:hover {
          color: #c2a457;
        }
      }
    }
  }
}