.popular-projects {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:  20px 40px;
    margin-top: 60px;

    @media(max-width: 960px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media(max-width: 640px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }

    @media(max-width: 480px) {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }

  &__btn {
    margin-top: 60px;
    display: flex;
    justify-content: center;
  }
}