.promo {
  max-width: 100%;
  overflow: hidden;
  min-height: 1157px;
  background-image: url('/src/images/promo-bg.jpg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;

  .container {
    min-height: 100%;
  }

  &__wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
  }

  &__content {
    width: 50%;
  }

  &__title {
    color: #9e853f;
  }

  &__text {
    margin-top: 34px;
    color: #333333;
    font-size: 18px;
    line-height: 1.55;

    p {
      margin-bottom: 40px;
    }
  }

  &__text-img {
    display: none;
  }

  &__author {
    font-size: 20px;
    color: #707070;

    div {
      margin-top: 14px;
      font-size: 18px;
    }
  }

  &__btn {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    font-weight: 500;
  }

  @media(max-width: 1200px) {
    min-height: auto;
    padding: 100px;
    background-position: -150px center;
  }

  @media(max-width: 960px) {
    background-image: none;
    background-color: #f8f8f8;
    padding: 20px;

    &__content {
      width: 100%;
    }

    &__text-img {
      display: block;
      width: 300px;
      height: 300px;
      border-radius: 50%;
      object-fit: cover;
      overflow: hidden;
      float: left;
      margin-right: 30px;
    }
  }

  @media(max-width: 640px) {
    padding: 50px 0;

    &__text-img {
      float: none;
      margin: 0 auto 30px;
      //width: 250px;
      //height: 250px;
    }
  }
}