.team {
  &__wrapper {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
  }

  &__person {
    width: 33%;
    margin-bottom: 90px;
  }

  @media(max-width: 960px) {
    &__person {
      width: 50%;
    }
  }

  @media(max-width: 480px) {
    &__person {
      width: 100%;
    }
  }
}