<a href="#" class="catalog-item">
  <div class="catalog-item__img">
    <img src="./images/catalog-img.jpg" alt="">
  </div>
  <div class="catalog-item__title">Памятник прямоугольный со скосом</div>
  <div class="catalog-item__link">
    <a href="#" class="btn">Подробнее</a>
  </div>
</a>