<a class="new-project">
  <div class="new-project__img">
    <img src="./images/project.jpg" alt="project">
  </div>
  <div class="new-project__name">Мемориальный комплекс</div>
  <div class="new-project__tag">Премиум</div>
</a>