<div class="person">
  <div class="person__img">
    <img src="./images/person.jpg" alt="">
  </div>
  <div class="person__name">Алексей Богданов</div>
  <div class="person__role">Начальник производства</div>
</div>