<div class="product-demo">
  <div class="product-demo__wrapper">
    <div class="product-demo__img">
      <img src="./images/product.png" alt="product">
    </div>
    <div class="product-demo__title">
      <b>Гранит Дымовский</b> <br>
      (Карелия)
    </div>
    <div class="product-demo__params">
      <div class="product-demo__params-item">
        <div class="product-demo__params-size">1000×500×60 </div>
        <div class="product-demo__params-price">36 000 ₽</div>
      </div>
      <div class="product-demo__params-item">
        <div class="product-demo__params-size">1100×500×60 </div>
        <div class="product-demo__params-price">40 000 ₽</div>
      </div>
      <div class="product-demo__params-item">
        <div class="product-demo__params-size">1200×600×70 </div>
        <div class="product-demo__params-price">54 000 ₽</div>
      </div>
    </div>
  </div>
</div>