<div class="advantages">
  <div class="advantages__wrapper">
    <div class="advantages__item">
      <div class="advantages__item-ico"><img src="./images/icons/adv-1.svg" alt=""></div>
      <div class="advantages__item-text">
        Оформление и ведение объекта онлайн. Дистанционный контроль заказа.
      </div>
    </div>
    <div class="advantages__item">
      <div class="advantages__item-ico"><img src="./images/icons/adv-2.svg" alt=""></div>
      <div class="advantages__item-text">
        3 года гарантия на благоустройство места захоронения
      </div>
    </div>
    <div class="advantages__item">
      <div class="advantages__item-ico"><img src="./images/icons/adv-3.svg" alt=""></div>
      <div class="advantages__item-text">
        Бесплатный выезд на дом для предварительного расчёта
      </div>
    </div>
  </div>
</div>