<div class="banner">
  <div class="container">
    <div class="banner__content">
      <div class="banner__title h1">
        ИЗГОТОВЛЕНИЕ ПАМЯТНИКОВ <br>
        <span>
          из <em>гранита</em> и <em>мрамора</em> <br>
          в Новосибирске
        </span>
      </div>
      <p>
        Комплексное благоустройство мест захоронений — изготовим, доставим и установим памятник в соответствии с проектом.
      </p>
      <div class="banner__buttons">
        <a href="#" class="btn btn--gold">Выбрать памятник</a>
        <a href="#" class="btn">обратный звонок</a>
      </div>
    </div>
  </div>
</div>