<div class="categories">
  <div class="categories__wrapper" >
    <div class="categories__item w100" style="background-image: url('./images/categ-1.svg'); background-position:bottom right;">
      <div class="categories__item-content">
        <div class="categories__item-title h2">Памятники</div>
        <div class="categories__item-text">
          <p>
            Гранитные и мраморные памятники различных форм и размеров с установкой на могилу. Подготовим проект с учетом ваших пожеланий.
          </p>
          <ul class="col-2">
            <li>Одинарные</li>
            <li>Семейные</li>
            <li>Эксклюзивные</li>
            <li>Резные </li>
            <li>С крестом</li>
            <li>Мусульманские</li>
            <li>Комбинированные</li>
            <li>Европейские</li>
          </ul>
        </div>
        <a href="#" class="btn btn--border-gold">Выбрать</a>
      </div>
    </div>
    <div class="categories__item w100" style="background-image: url('./images/categ-2.svg'); background-position: 80% center;">
      <div class="categories__item-content">
        <div class="categories__item-title h2">Памятники<br> военным</div>
        <div class="categories__item-text"></div>
        <a href="#" class="btn btn--border-gold">Выбрать</a>
      </div>
    </div>
    <div class="categories__item" style="background-image: url('./images/categ-3.svg'); background-position:bottom right;">
      <div class="categories__item-content">
        <div class="categories__item-title h2">Мемориальные комплексы</div>
        <div class="categories__item-text">
          Познакомьтесь с каталогом мемориальных комплексов из гранита и мрамора, которые мы можем изготовить и установить по индивидуальному проекту.
        </div>
        <a href="#" class="btn btn--border-gold">Выбрать</a>
      </div>
    </div>
    <div class="categories__item" style="background-image: url('./images/categ-4.svg'); background-position:bottom right;">
      <div class="categories__item-content">
        <div class="categories__item-title h2">Благоустройство мест захоронений</div>
        <div class="categories__item-text">
          <ul>
            <li>Столы, скамейки</li>
            <li>Цветники</li>
            <li>Ограды, цоколи</li>
            <li>Бронзовые изделия</li>
            <li>Литиевая фурнитура</li>
            <li>Гранитные плиты, щебень, брустчатка, газон</li>
          </ul>
        </div>
        <a href="#" class="btn btn--border-gold">Выбрать</a>
      </div>
    </div>
    <div class="categories__item" style="background-image: url('./images/categ-5.svg'); background-position: center right;">
      <div class="categories__item-content">
        <div class="categories__item-title h2">Аксессуары для памятников</div>
        <div class="categories__item-text">
          <ul>
            <li>Скульптурные композиции</li>
            <li>Вазы</li>
            <li>Лампады</li>
            <li>Шары</li>
          </ul>
        </div>
        <a href="#" class="btn btn--border-gold">Выбрать</a>
      </div>
    </div>
    <div class="categories__item" style="background-image: url('./images/categ-6.svg'); background-position: 95% 80%">
      <div class="categories__item-content">
        <div class="categories__item-title h2">Художественное оформление</div>
        <div class="categories__item-text"></div>
        <a href="#" class="btn btn--border-gold">Выбрать</a>
      </div>
    </div>
  </div>
</div>