<div class="choice">
  <h2>Выбрать и <em>заказать</em> памятник у нас <em>просто</em> и <em>удобно</em></h2>
  <div class="choice__wrapper">
    <div class="choice__item">
      <div class="choice__item-ico">
        <img src="./images/icons/choice-1.svg" alt="">
      </div>
      <div class="choice__item-title">ПРИЙТИ К НАМ В ОФИС</div>
      <div class="choice__item-desc">
        Наш офис располагается недалеко от центра Ленинского района г. Новосибирска, в шаговой доступности от остановок общественного транспорта
        <a href="#">Посмотрите расположение офиса</a>

      </div>
    </div>
    <div class="choice__item">
      <div class="choice__item-ico">
        <img src="./images/icons/choice-2.svg" alt="">
      </div>
      <div class="choice__item-title">ВЫЕЗД НА ДОМ</div>
      <div class="choice__item-desc">
        Свяжитесь с нашими менеджерами и мы сами приедем в удобное вам время. Бесплатно сделаем предварительный расчет проекта захоронения.
      </div>
    </div>
    <div class="choice__item">
      <div class="choice__item-ico">
        <img src="./images/icons/choice-3.svg" alt="">
      </div>
      <div class="choice__item-title">ДИСТАНЦИОННО</div>
      <div class="choice__item-desc">
        Если вы находитесь в другом городе или у вас нет возможности прийти к нам в офис, вы можете оформить заказ удаленно. Мы подготовим фото-видео отчет о проделанной работе, где в деталях покажем все, что вас интересует.
      </div>
    </div>
  </div>
  <div class="choice__btn">
    <a href="#" class="btn">Подробнее</a>
  </div>
</div>