<div class="five-reasons">
  <div class="five-reasons__wrapper">
    <div class="five-reasons__title">
      <span class="color-gold"><em>5 причин</em></span><br>
      почему лучше заказывать<br> памятник зимой
    </div>
    <div class="five-reasons__btn">
      <a href="#" class="btn btn--border-gold">Узнать</a>
    </div>
  </div>
</div>