<footer class="footer">
  <div class="footer__wrapper container">
    <div class="footer__text">© ХАРОН, Изготовление памятников в Новосибирске</div>
    <div class="footer__links">
      <a href="#">Политика конфиденциальности</a>
      <a href="#">Создание сайта</a>
    </div>
  </div>
</footer>