<header class="header">
  <div class="header__wrapper">
    <div class="header__logo">
      <a href="/">
        <img src="./images/logo-kharon.svg" alt="logo">
      </a>
    </div>
    <div class="header__menu">
      {{> blocks/menu }}
    </div>
    <div class="header__contacts">
      <div class="header__contacts-wa">
        <a href="#">
          <img src="./images/icons/header-wa.svg" alt="wa">
        </a>
      </div>
      <div class="header__contacts-tel">
        <a href="tel:+79039329293">+7 (903) 932 9293</a>
      </div>
      <div class="header__btn">
        {{> elements/btn gold=true title='Оставить отзыв'}}
      </div>
    </div>

  </div>
</header>