<header class="header">
  <div class="header__wrapper">
    <div class="header__logo">
      <a href="/">
        <img src="./images/logo-kharon.svg" alt="logo">
      </a>
    </div>
    <div class="header__menu">
      {{> blocks/menu }}
    </div>
    <div class="header__contacts">
      <div class="header__contacts-wa">
        <a href="#">
          <img src="./images/icons/header-wa.svg" alt="wa">
        </a>
      </div>
      <div class="header__contacts-tel">
        <a href="tel:+79039329293">+7 (903) 932 9293</a>
      </div>
      <div class="header__btn">
        {{> elements/btn gold=true title='Оставить отзыв'}}
      </div>
    </div>
    <div class="header__mobile">
      <a href="#" class="header__wa">
        <img src="./images/icons/wa-mobile.svg" alt="">
      </a>
      <a href="#" class="header__phone">
        <img src="./images/icons/phone-mobile.svg" alt="">
      </a>
      <div class="header__burger">
        <img src="./images/icons/burger.svg" alt="">
      </div>
    </div>
  </div>
  <div class="mobile-menu">
    <div class="mobile-menu__cover"></div>
    <div class="mobile-menu__wrapper">
      <div class="mobile-menu__close"></div>
      <a href="/">
        <img src="./images/logo-kharon.svg" alt="logo">
      </a>
      <div class="mobile-menu__menu">
        {{> blocks/menu }}
      </div>
      <div class="mobile-menu__bottom">
        <div class="mobile-menu__tel">
          <a href="tel:+79039329293">+7 (903) 932 9293</a>
        </div>
        <div class="mobile-menu__btn">
          {{> elements/btn gold=true title='Оставить отзыв'}}
        </div>
      </div>
    </div>
  </div>
</header>