<div class="main-slider swiper">
  <div class="main-slider__wrapper swiper-wrapper">
    {{#times 7}}
      <div class="main-slider__item swiper-slide">
        {{> cards/product-demo}}
      </div>
    {{/times}}
  </div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>