<div class="new-projects">
  <h2><em>Новые</em> проекты<br> мемориальных комплексов</h2>
  <div class="new-projects__wrapper">
    {{# times 8}}
      {{> cards/new-project }}
    {{/times}}
  </div>
  <div class="new-projects__btn">
    {{> elements/btn title='Все новинки'}}
  </div>
</div>