<div class="order">
  <div class="order__wrapper">
    <div class="h2">Предложение<br> для коллег <br> и партнеров</div>
    <div class="order__text">
      <p>
        Мы готовы предложить вам специальную цену на гранит мелким оптом
      </p>
      <p>
        О наличии вы можете узнать у менеджера
      </p>
      <a href="" class="btn btn--border-gold">Узнать</a>
    </div>
    <div class="order__decor"></div>
  </div>
</div>