<div class="popular-projects">
  <h2><em>Популярные</em> модели<br> памятников</h2>
  <div class="popular-projects__wrapper">
    {{# times 4}}
      {{> cards/new-project }}
    {{/times}}
  </div>
  <div class="popular-projects__btn">
    {{> elements/btn title='Каталог памятников'}}
  </div>
</div>