<div class="promo">
  <div class="container">
    <div class="promo__wrapper">
      <div class="promo__content">
        <div class="promo__title h2">Приближаем похоронный сервис <em>к<br> мировым стандартам</em></div>
        <div class="promo__text">
          <div class="promo__text-img">
            <img src="./images/promo-img.jpg" alt="">
          </div>
          <div class="promo__text-content">
            <p>
              Компания по благоустройству мест захоронений и изготовлению памятников «Харон» существует на рынке ритуальных услуг с 2016 года. За это время мы прошли путь от небольшого участка на Клещихенском кладбище до компании по созданию памятников от эконом до премиум сегмента и благоустройству захоронений.
            </p>
            <p>
              Мы целеустремленные люди, живо интересуемся всем новым, не упускаем ни одной возможности ознакомиться с достижениями похоронной индустрии других стран, не пропускаем ни одной профильной выставки в России. С выставок возвращаемся с новыми идеями и планами, которые стараемся претворить в жизнь.
            </p>
            <div class="promo__author">
              <strong>Светлана Григорьева</strong>
              <div>С уважением, директор компании «Харон»</div>
            </div>
            <div class="promo__btn">
              <a href="#" class="btn">Подробнее</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>