<div class="reviews">
  <h2>Отзывы <em>наших клиентов</em></h2>
  <div class="reviews__slider swiper">
    <div class="reviews__wrapper swiper-wrapper">
      <div class="reviews__item swiper-slide">
        <img src="./images/review-item.png" alt="">
      </div>
      <div class="reviews__item swiper-slide">
        <img src="./images/review-item.png" alt="">
      </div>
      <div class="reviews__item swiper-slide">
        <img src="./images/review-item.png" alt="">
      </div>
      <div class="reviews__item swiper-slide">
        <img src="./images/review-item.png" alt="">
      </div>
      <div class="reviews__item swiper-slide">
        <img src="./images/review-item.png" alt="">
      </div>
      <div class="reviews__item swiper-slide">
        <img src="./images/review-item.png" alt="">
      </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>