<div class="team">
  <h3><em>Наша профессиональная команда</em> с огромным чувством такта помогает людям организовать достойные мемориальные комплексы</h3>
  <div class="team__wrapper">
    {{# times 5}}
      <div class="team__person">
        {{> cards/person}}
      </div>
    {{/times}}
  </div>
</div>