.catalog {
  padding-top: 50px;

  &__wrapper {
    margin-top: 40px;
    border-top: 1px solid #c2a457;
  }

  &__top {
    margin-top: 10px;
    padding: 10px 0;
    display: flex;
    align-items: center;
  }

  &__back {
    margin-right: 15px;
    color: #333333;
    font-size: 15px;
    font-weight: 600;
  }

  &__tag-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 auto;
  }

  &__tag-item {
    color: #333333;
    font-size: 15px;
    font-weight: 600;
    padding: 8px 12px 9px;
    transition: all .2s linear;

    &:hover {
      color: #c2a457;
    }

    &--active {
      color: #c2a457;
      border: 1px solid #c2a457;
    }
  }

  &__body {
    background-color: rgba(248, 248, 248, 0.7);
    padding-top: 10px;
    padding-bottom: 100px;
  }

  &__content {
    display: flex;
    margin-top: 10px;

    @media(max-width: 960px) {
      flex-direction: column;
    }
  }

  &__aside {
    flex: 1 1 250px;
    padding-right: 30px;
    overflow-y: auto;

    @media(max-width: 960px) {
      flex: unset;
      padding-right: 0;
    }
  }

  &__filter-btn {
    color: #9e853f;
    display: none;
    align-items: center;

    span {
      margin-left: 10px;
    }

    @media(max-width: 960px) {
      display: flex;
    }
  }

  &__filter-btn-ico {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background: #decfa9;
    padding: 8px 11px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 48px 8px ;
    flex-wrap: wrap;
    flex: 1 1 calc(100% - 250px);
    max-width: calc(100% - 250px);
  }

  @media(max-width: 960px) {
    &__tag-filter {
      display: none;
    }

    &__list {
      flex: unset;
      max-width: 100%;
      margin-top: 30px;
    }
  }

  @media(max-width: 640px) {
    &__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media(max-width: 480px) {
    &__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.filter-catalog {
  @media(max-width: 960px) {
    display: none;
    margin: 20px 0;

    &--active {
      display: block;
    }
  }



  &__category {
    margin-bottom: 30px;
    @media(max-width: 960px) {
      border: solid #c2a457;
      border-width: 1px 0 0 0;
      padding: 10px;
      margin-bottom: 0;

      &:last-child {
        border-width: 1px 0 1px 0;
      }

      &--active {
        .filter-catalog {
          &__category-wrapper {
            display: flex;
          }

          &__category-title {
            margin-bottom: 10px;

            &:after {
              transform: rotate(45deg);
            }
          }
        }
      }
    }
  }

  &__category-wrapper {
    display: flex;
    flex-direction: column;

    @media(max-width: 960px) {
      display: none;
    }
  }

  &__category-title {
    margin-bottom: 10px;
    color: #9e853f;
    position: relative;

    @media(max-width: 960px) {
      margin-bottom: 0;

      &:after {
        content: ' ';
        width: 5px;
        height: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: transparent #c2a457 #c2a457 transparent;
        position: absolute;
        transform: rotate(-45deg);
        right: 1px;
        top: -2px;
        bottom: 0;
        margin: auto;
        pointer-events: none;
      }
    }
  }

  &__category-item {
    margin-bottom: 5px;
    padding: 5px 10px;
    color: #333333;

    &:hover {
      background-color: rgba(0,0,0,.1);
    }
  }

  &__input {
    margin-bottom: 8px;
  }
}