.catalog {
  padding-top: 50px;

  &__wrapper {
    margin-top: 40px;
    border-top: 1px solid #c2a457;
  }

  &__top {
    margin-top: 10px;
    padding: 10px 0;
    display: flex;
    align-items: center;
  }

  &__back {
    margin-right: 15px;
    color: #333333;
    font-size: 15px;
    font-weight: 600;
  }

  &__tag-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 auto;
  }

  &__tag-item {
    color: #333333;
    font-size: 15px;
    font-weight: 600;
    padding: 8px 12px 9px;
    transition: all .2s linear;

    &:hover {
      color: #c2a457;
    }

    &--active {
      color: #c2a457;
      border: 1px solid #c2a457;
    }
  }

  &__body {
    background-color: rgba(248, 248, 248, 0.7);
    padding-top: 10px;
    padding-bottom: 100px;
  }

  &__content {
    display: flex;
    margin-top: 10px;

    @media(max-width: 960px) {
      flex-direction: column;
    }
  }

  &__aside {
    flex: 1 1 250px;
    padding-right: 30px;
    overflow-y: auto;

    @media(max-width: 960px) {
      flex: unset;
      padding-right: 0;
    }
  }

  &__filter-btn {
    color: #9e853f;
    display: flex;
    align-items: center;

    span {
      margin-left: 10px;
    }
  }

  &__filter-btn-ico {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background: #decfa9;
    padding: 8px 11px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 48px 8px ;
    flex-wrap: wrap;
    flex: 1 1 calc(100% - 250px);
    max-width: calc(100% - 250px);

    @media(max-width: 960px) {
      flex: unset;
      max-width: unset;
    }
  }
}

.filter-catalog {
  @media(max-width: 960px) {
    display: none;
    margin: 20px 0;
  }

  &--active {
    display: block;
  }

  &__category {
    margin-bottom: 30px;
    @media(max-width: 960px) {
      border: solid #c2a457;
      border-width: 1px 0 0 0;
      padding: 10px;
      margin-bottom: 0;

      &:last-child {
        border-width: 1px 0 1px 0;
      }
    }
  }

  &__category-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__category-title {
    margin-bottom: 10px;
    color: #9e853f;
  }

  &__category-item {
    margin-bottom: 5px;
    padding: 5px 10px;
    color: #333333;

    &:hover {
      background-color: rgba(0,0,0,.1);
    }
  }

  &__input {
    margin-bottom: 8px;
  }
}