{{#extend "layouts/base" title="Главная страница"}}
    {{#content "main"}}
        <div class="container">
          <a href="main.html">main</a><br>
          <a href="catalog.html">catalog</a><br>
          <a href="order-page.html">order</a><br>
        </div>
    {{/content}}
{{/extend}}
